@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font01: verdana, geneva, tahoma, sans-serif;
    --font02: 'passion one', cursive;
    --font03: 'sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: var(--font01);
    min-width: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;

}

header >h1{
    font-family: var(--font02);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover{
    text-decoration: underline;
}

section{
    font-size: 4vh;
    font-family: var(--font03);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.377);
    display: inline-block;
    text-shadow: 1px 1px 0px black;
    
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    position: right center;
    
}

section#img02{
    background-image: url(../imagens/background002.jpg);
}

section.imagem{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.507);
    background-color: rgb(24, 24, 24);
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}